body{
    padding: 30px 350px;
    background-color: rgba(199, 109, 218, 0.397);
    font-family: 'Times New Roman', Times, serif;
    background-image: url(/Portafolio/Pictures/Fondo.jpg);
}

article{
    background-color: hsla(281, 100%, 50%, 0.219);
    padding: 10px 10px;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 7px 7px 10px  rgba(98, 0, 255, 0.452);
    color: aqua;
}

b{
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}

h2{
    color: aqua;
    margin-top: 5px;
    margin-bottom: 10px; text-align: center;
}

h1{
    color: aqua;
    margin-bottom: 10px; text-align: center;
    box-shadow: 5px 5px 35px 5px rgb(0, 204, 255);
}

header{
    background-color: hsla(281, 100%, 50%, 0.219);
    padding: 10px;
    box-shadow: 7px 7px 7px rgba(98, 0, 255, 0.452);
    color: aqua;
}
a{
    color: aqua;
}
footer{
    background-color: hsla(281, 100%, 50%, 0.219);
    padding: 20px 20px 20px;
    margin-top: 50px;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 7px 7px 10px  rgba(98, 0, 255, 0.452);
    color: aqua;
}
.social-links {
    display: flex;
    gap: 15px;
    margin-top: 15px;
    align-items: center;
}
/* ========================================
   SECCIÓN 9: RESPONSIVE (Diseño móvil)
   ======================================== */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }
    /* ===== ÍCONOS DE REDES SOCIALES EN EL FOOTER (versión ajustada) ===== */
    .footer .social-links {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 0px;
        margin-top: 0px;
    }

    .footer .social-links a img {
        width:5px;        /*Tamaño reducido (antes 35px)*/
        height: 50px;
        border-radius: 50%;
        background-color:hsla(281, 100%, 50%, 0.219);
        padding: 3px;       /* Padding más pequeño*/
        box-shadow: 0 2px 5px rgba(98, 0, 255, 0.452);;
        transition: transform 0.3s, box-shadow 0.3s;
    }

    .footer .social-links a img:hover {
        transform: scale(1.2);
        box-shadow: 0 4px 10px rgba(98, 0, 255, 0.452);;
    }
}